/* CSS for the navigation bar */
.navbar {
    position: fixed;
    left: 20rem;
    top: 0;
    width: 275px;
    height: 100vh;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  }
  
  .navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 20px;
    margin-left: 50px;
  }
  
  .navbar li {
    margin-bottom: 10px;
  }
  
  .navbar li a {
    display: block;
    padding: 10px;
    color: #14171a;
    font-weight: light;
    font-size: 20px;
    text-decoration: none;
  }
  
  .navbar li a:hover {
    background-color: #bcbfc1;
    border-radius: 30px;
  
  }
  
  .navbar li.active a {
    color: #1da1f2;
  }
  