.Profile-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    background-color: rgb(227, 224, 224);
    width: 70%;
    position:absolute;
    left: 16rem;
}
.username{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000000;
    margin: 0;
    padding: 0;
    position:relative;
    top: 8rem;
    right: 36rem;
    font-size: 24px;

}
.profile-pic{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    border-radius: 50%;
    width: 140px;
    height: 140px;
    box-shadow:rgba(0, 0, 0, 0.03) 0px 0px 2px inset;
    position: relative;
    right: 35rem;
    top: 7rem;
    border: 2px solid #000000;
    outline-style: none;

}
.userEmail{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #414040;
    margin: 0;
    padding: 0;
    position:relative;
    top: 8rem;
    right: 34.5rem;
    font-size: 15px;
    font-weight: lighter;
}